body{
    background: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
}

.clear{
    clear: both;
}

.topbar{
    height: 3px;
    width: 100%;
    background: #000000;
}

.logo-and-text{
    position: relative;
    width: 100%;
    min-height: 150px;
    background: #ffffff;
}

.logo-and-text .logo img{
    width: auto;
    height: 150px;
}

.logo{
    float: left;
}

.logo-and-text .text{
    float: left;
    display: inline;
    margin-top: 30px;
}

.logo-and-text .text span{
    margin-left: 20px;
    display: block;
    font-size: 30px;
    text-align: left;
    color: #0a6eb9;
}

.logo-and-text img{
    margin: 0 auto;
}

.social{
    margin-top: 40px;
}

.social a{
    font-size: 40px;
    text-decoration: none;
}

.social .fa-facebook{
    color: #3c5a99;
}
.social .fa-twitter-square{
    color: #1da1f2;
}
.social .fa-flickr{
    color: #000000;
}
.social .fa-youtube{
    color: #FF0000;
}

#slideshow{
    margin-top: 10px;
    overflow: hidden
}

#slideshow .slide{
    width: 100%;
}

nav#navigation{
    background: #ffffff;
    border-bottom: 2px solid #bdbdbe;
    margin-top: 2px;
    padding:0;
}

nav#navigation ul.navlist{
    margin: 0;
    padding: 0;
}

nav#navigation ul.navlist li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

@media screen and (max-width: 768px){
    nav#navigation ul.navlist{
        width: 100%;
    }
    .social{
        text-align: center;
        float: none !important;
    }

    .logo{
        display: block;
        width: 50%;
        margin: 0 auto;
        float: none !important;
    }

    .logo img{
        width: 100%;
    }
}

nav#navigation ul.navlist li:hover{
    background: #ddd;
    cursor: pointer;
}

#slideshow img{
    height: auto;
    width: 100%
}

#slideshow .owl-nav button{
    position: absolute;
    color: #ffffff;
    top: calc(50% - 60px);
    z-index: 12;
    height: 60px;
    width: 60px;
    background: rgba(0, 0, 0, .7);
    font-size: 35px;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.owl-nav .owl-prev{
    left: 0;
}

.owl-nav .owl-next{
    right: 0;
}

#message{
    background: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
}

#message h4.header{
    text-align: center;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

#message .content img{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

#message .content::after{
    clear:left;
    content: ' ';
}

.president{
    position: relative;
    margin: 10px 0;
    height: 411px;
    overflow: hidden;
}

.president .title{
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background: rgba(0, 0, 0, .9);
    right: 0;
    left: 0;
    text-align: center
}

.president .title p{
    margin:0;
    padding-bottom: 10px;
}

.president img{
    width: 100%;
}

#footer{
    background: #000000;
    padding: 5px;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

#footer p{
    margin-bottom: 0;
}


.widget{
    background: #ffffff;
    margin-bottom: 10px;
}

.widget-title{
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.widget iframe{
    width: 100%;
    min-height: 200px;
}

#gallery{
    background: #ffffff;
}

#gallery .title{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

#gallery .image{
    margin-bottom: 10px;
    height: 225px;
    overflow: hidden;
}

#gallery .image img{
    width: 100%;
}

#gallery .holder{
    padding: 20px;
}